.wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.comment-form{
  display: flex;
  flex-direction: column;
}
.authors{
  line-height: 0.2em;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  
  
}
.commmets{
  margin-top: 20px;
  line-height: 1em;
  
}
img{
  width: 400px;
  height: 250px;
  margin-top: 20px;
}
